<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROOM</title>

    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">

    <!-- Scroll text -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

    <!-- Css and Font style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
  </head>

  <%- include("partials/header") -%>

  <body>
    <div class="mainBloc-about">
      <div id="citation" data-aos="fade-down" data-aos-duration="1500">
        <h2 id="title-citation">
          J’aime explorer des domaines qui me font peur. Lorsque j’ai peur, je
          sais que je vais dans la bonne direction...
        </h2>
          <p>Mathieu Elisa</p>
      </div>
    </div>

    <div class="text-bloc" >

<!-- First container -->
      <div class="container-card">


<!-- First Card -->
        <div class="container-profil">

          <div class="profil-card">
            <img class="myPics" src="/images/profil1.jpg" alt="profil1">

              <div class="title-work">Manager</div>
          </div>

          <div class="title-card">
            <h3>Yasmina Gonzalez</h3>
          </div>
  
          <div class="text-card">
            <p>Yasmina is a qualified industrial and interior designer with over a decade of experience.
              She holds a passion for innovating with material and form and introduces traditional crafting 
              techniques from artisans across the world into her work.
            </p>
          </div>

        </div>
<!-- End First Card -->

<!-- Second Card -->
        <div class="container-profil">
          <div class="profil-card">
            <img class="myPics" src="/images/profil2.jpg" alt="profil2">

              <div class="title-work2">Designer</div>
          </div>

          <div class="title-card">
            <h3>Arsene Durand</h3>
          </div>
  
          <div class="text-card">
            <p>Arsene designs precision, 
              handcrafted furniture pieces, 
              having built a career on combining a mechanical engineering with his flair for artistic creativity.
            </p>
          </div>

        </div>
<!-- End Second Card -->
      </div>
<!-- End first container -->

<!-- Second container -->
      <div class="container-bloc2">

        <div class="title-bloc2">
          <h2>DESIGN_</h2>
        </div>
        
        <div class="text-bloc2">
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br> <br>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

      </div>
<!-- End second container -->

    </div>

<!-- Third container     -->
    <div class="picture-bloc"></div>
<!-- End third container -->

<!-- Last container -->
    <div class="final-picture-bloc">
      <div id="citation2" data-aos="fade-down" data-aos-duration="1500">
          <h2 id="title-citation">
          L'élégance, n'est pas n'est pas une question de luxe, de richesse.
          Mais d'attitude....
          </h2><br>
        <p>Mathieu Elisa</p>
      </div>
    </div>
<!-- End last container -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/about.js"></script>
  </body>
</html>
