<div class="first-container">

    <div class="firstBloc">
            <%- include("partials/header") -%>
    </div> 

<div class="secondBloc"> 

    <h2 class="title-secondBloc">Découvrez des façons innovantes de décorer</h2>   
    <p class="text-secondBloc">Ces dernières décennies, l’ameublement à su se renouveler et se réinventer en s’ouvrant à d’autres disciplines. 
        C’est ainsi que des artistes contemporains ont été sollicités pour collaborer avec les marques les plus prestigieuses dans le cadre de collections originales et signées.
    </p>
    <div id="placement">
        <div>
            <p class="shop"> <a id="shopnow" href="/shop">SHOP NOW</a></p>
        </div>
        <div id="arrowDiv">
            <img class="arrow" src="images/icon-arrow.svg" alt="arrow">
        </div>
    </div>

</div>

</div>

<div class="second-container">
<div class="carre1">
</div>

<div class="carre2">
    <h1 class="title-carre2">ABOUT OUR FURNITURE</h1>
        <p class="text-carre2">Our multifunctional collection blends design and function to suit your individual taste.
        Make each room unique, or pick a cohesive theme that best express your interests and what
        inspires you. Find the furniture pieces you need, from traditional to contemporary styles
        or anything in between. Product specialists are available to help you create your dream space.
        </p>
</div>

<div class="carre3">
</div>

</div>

<%- include("partials/footer") -%>
