<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROOM</title>
    
    
    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    
    <!-- Scroll text -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    
    <!-- Caroussel -->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    
    <!-- CSS and Font style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap" rel="stylesheet">
    
  </head>

  <body>

    <div class="loader">
      <!-- <img class="loader__gif" src="images/chair.gif" alt=""> -->
      <h1 class="title-loader">room</h1>
    </div>

    <%- include("partials/header") -%>
    
    <div class="home__first-container">

      <div class="home__first-container--firstBloc" id="slider">
<!-- Slick.js card -->
            <div class="card" > 
                <div>
                  <img src="/images/desktop-image-hero-1.jpg" alt="">
                </div>
                <div>
                  <img src="/images/desktop-pics1.jpg" alt="">
                </div>
                <div>
                  <img src="/images/desktop-pics2.jpg" alt="">
                </div>
                <div>
                  <img src="/images/desktop-pics3.jpg" alt="">
                </div>  
            </div>
<!-- Slick.js end card -->
      </div>

      <div class="home__first-container--secondBloc">

        <h2 class="home__first-container--secondBloc-title">
            <span id="green-title">Decouvrez</span> des façons innovantes de décorer
        </h2>
            <p class="home__first-container--secondBloc-text">
              Ces dernières décennies, l’ameublement à su se renouveler et se
              réinventer en s’ouvrant à d’autres disciplines. C’est ainsi que des
              artistes contemporains ont été sollicités afin de collaborer avec nous
              dans le cadre de collections originales et signées.
            </p>
        <div id="placement">
            <p class="shop">
              <a id="shopnow" href="/shop">SHOP NOW</a>
            </p>

            <div id="arrowDiv">
              <img class="arrow" src="/images/icon-arrow.svg" alt="arrow" />
            </div>
        </div>

      </div>

    </div>

    <div class="home__second-container">

      <div class="home__second-container--left" ></div>

    <div class="home__second-container--right">
        <h1 class="home--title">CONCERNANT NOTRE AMEUBLEMENT</h1>
            <p class="home--text" >
              La quête d'un confort domestique est l'idée fixe qui mènera à la création de nos meubles.
              L'inspiration pour l'élaboration de nos mobiliers se fait via différents
              canaux dont celui de la nature, du bois et du pin. 
              La déco nordique devient rapidement le porte-parole du meuble design dans l'inconscient collectif.
            </p>
      </div>
    </div>

    <div class="home__third-container">
        <div class="home__third-container--right"></div>

      <div class="home__third-container--left">

        <h1 class="home--title">CONCERNANT NOTRE SAVOIR-FAIRE</h1>
        <p class="home--text" >
          Spécialisés dans les décos intérieurs suédoises, nous sommes à même de vous proposer des produits de qualités
          qui répondent parfaitement avec vos attentes. 
          Le savoir faire allié à l'élégance de nos meubles scandinaves saura répondre
          à la moindre de vos envies.
          Toujours bien pensé, vous retrouverez de page en page les éléments spécifiques à cette décoration nordique.
        </p>

      </div>
            <button class="buttonScroll title-font">UP</button>
    </div>

    <div class="home__fourth-container">

      <div class="home__fourth-container_up">
        <h3 class="home__fourth-container_up--title">INSPIRATION</h3>
      </div>

   

    </div>

    <div class="home__cookiesAndMentions">
      <p><a href="/mentions">Mentions legales & Cookies</a></p>
    </div>
    
    <!-- Caroussel slick.js-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    
    <script src="/js/home.js"></script>
    
  </body>
</html>
