<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROOM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
  </head>

  <%- include("partials/header") -%>

  <body>
    <div class="mentions__container">
      <div class="mentions__container--title">
          <div id="main-title">MENTIONS LEGALES & COOKIES</div>
      </div>

    <div class="mentions__container--text">
      <h2>PRIVACY POLICY </h2> <br><br>
      <h3>No secrets at all!</h3> <br>
       
      "Room" cares a lot about your privacy.<br><br>
      That’s why we want to inform and respect our clients and users of our services and website as far as possible, along with giving them control over what happens to their personal data. We would like to explain in detail which data we collect, why we collect these data, what we do to protect your privacy and how you stay in control. 
      We process data conform with the Belgian Privacy legislation and subsequent General Data Protection Regulation (GDPR). <br> <br>
      
      
      
      <h3>Who is responsible?</h3><br>
      The data controller is the one who determines the objectives and the means (what, how and why) of the processing of personal data. In our case the data controller is: <br> <br>
      
      
      Room – 26 boulevard Bourdon – 75011 – Paris <br>
      <a href="/home">ROOM</a><br>
      01 45 78 29 27 <br> <br>
      
      
      Contact details of our data protection officer: <br>
      
      Coralie Claeys – 26 boulevard Bourdon – 75011 – Paris<br>
      01 45 78 29 29 <br> <br>
      
      <h3>What are personal data?</h3> <br><br>
      By ‘personal data’ we refer to any information which refers to an identified or identifiable natural person (subsequently referred to as ‘data subject’). This includes, for example, your name, address and your contact details, but other information such as IP address, 
      information about the business sector, and so on as well. <br> <br>
      
      The collected data can be combined to ensure adequate service to your personal needs. <br><br>
      
      <h3>Which data can we collect? </h3> <br><br>
      The kind of information we collect depends on the context of your interactions with us, the method of contact, and the information provided by you. 
      
      Data that is automatically transmitted when you are simply visiting our website <br><br>
      
      When visiting <a href="/home">ROOM</a>, without filling out our contact form or transmitting information in any other way, your browser will automatically transmit information to our website server. 
      This information is saved temporarily in a log file. The following information is recorded and stored until it is erased automatically, without any action on your part: <br><br>
      
        - IP-address of the accessing computer: through our website we keep track of your preferences based on your IP-address. We do not use this on a structural basis, but need this to ensure we can trace certain matters in our logs.<br><br>
        - Date and time of access<br><br>
        - Name and URL of the accessed files (pages you have visited on our website)<br><br>
        - Website from which the page was accessed (referrer URL)<br><br>
        - Browser used and possibly your computer’s operating system and the name of your access provider.<br><br>

      We process the data listed above for the following purposes:<br><br>
      
        - To ensure that a connection is established smoothly and that our website can be used comfortably<br><br>
        - For analyses of system security and stability<br><br>
        - Further administrative purposes<br><br>

      The legal basis for this data processing is based on consent. 
      Our legitimate interest arises from the purposes for data collection listed above. 
      Under no circumstances will we use the data collected to draw any conclusions about your identity.<br><br>
      
      To help you more effectively, we use cookies on our websites. 
      These are very small (temporary) text files that are downloaded to your computer or device.<br><br>
      
      Cookies also ensure that you do not always have to enter the same information when you visit our website. 
      In addition, they give us information about how you surf through the website and we use it - with your permission - for marketing purposes after your visit. <br><br>
      
      You can disable all non-essential cookies on our website, but do know that our website may provide a different experience than the one we had in mind for you.<br><br>
      
      Read more about which cookies we place in your browser in our Cookie Policy below. 
      
      
      
      Data provided by you when placing an order (through our webshop: <a href="/home">ROOM</a> or directly through our sales team), when asking for a quote, by filling in the contact form on our website https://www.room.com, 
      when registering for our newsletter, 
      when visiting our headquarters or exhibition stand, 
      when exchanging a business card or any other form of contact (phone, email,...) obtained via another channel, e.g. a public source: <br><br>
      
      - Name<br>
      - First name<br>
      - E-mail address<br>
      - Telephone number<br>
      - Fax number<br>
      - Residential address<br>
      - Company address<br>
      - Function<br>
      - Company name<br>
      - Nationality<br>
      - Language preference<br><br>
      - We process the data listed above for the following purposes: <br><br>
      
      - To optimize our supplier-, customer- and prospect management<br>
      - To process orders, quotes and deliveries<br>
      - For our general and financial administration<br>
      - This data may be used for marketing purposes as well<br>
      - The legal basis for processing this data is the (potential) performance of a business contract, as the mentioned personal data is required to contact Mathieu Elisa NV and possibly execute a contract. 
      Not providing this information, makes it impossible for Mathieu Elisa NV to contact you or to enter it into a contract. 
      This data is only used to provide these services and only in function of the professional relationship we have with you as a (potential) customer or third party. <br><br>
      
      When used for marketing purposes, the legal basis for processing this data is either the legitimate interest to inform existing contacts or an explicit consent given by the data subject.
      If your data has been processed for marketing purposes (newsletters), you can always immediately and automatically subscribe or unsubscribe. <br><br>
      
      <h3>How we share your personal data with third parties?</h3><br><br>
      We do not sell or rent your data at any time to third parties that are not part of Room. However, we use some of your data for our own marketing purposes. 
      Of course, we only do this if you give your consent through the cookies that we offer on our website which you can always do yourself without our intervention.
      We ourselves would not be pleased if our own data was shared without our consent, that’s why we won’t do it either. <br><br>
      
      
      <h3>Changes to our privacy policy?</h3> <br><br>
      This text will be updated if there are additional changes that are of legal importance or that conflict with previous agreements which we have made here. If it concerns major adjustments, we will let you know.<br><br>
      
      
      <h3>Your rights over your data?</h3> <br><br>
      If you receive newsletters of ROOM and you want to unsubscribe, you can do so very easily through the unsubscribe button in each newsletter. <br>
      Of course, you are and remain the owner of your personal data. Should you have any questions about our Privacy Policy or about your personal information, let us know via privacy@vincentsheppard.com. 
      Our Data Officer will be more than happy to help you with your questions.<br><br><br><br>
      
      
      <h2>COOKIE POLICY</h2> <br><br>

      <h3>What are cookies? </h3><br><br>
      To help you better and in a more personalized way, we use cookies on our websites. 
      These are small (temporary) text files, which are downloaded to your computer or device to improve your user experience. <br><br>
      
      This Cookie Policy describes the information that is gathered when you visit our website : <a href="/home">ROOM</a>  , how this information is used and why we believe it is sometimes necessary to save cookies. <br><br>
      
      
      <h3>How we use cookies?</h3><br><br>
      We use various types of cookies for different reasons. We use them to : <br><br>
      
      - analyze how you browse through our website, so that we can improve it<br>
      - ensure that you do not have to enter the same information again (and again and again) when you visit the website <br>
      - offer you better and more targeted experiences on our website <br>
      - show you relevant advertisements, based on your interests <br> <br>
      
      
      For each visitor to the website, our server automatically recognizes and stores the visitor's IP address. 
      In addition, our websites uses cookies. To enhance your experience when using our website, these cookies may automatically collect information from you such as your area code, region and language preference.<br><br>
      
      For example, cookies enable us to tailor a website to better match your interests. As a general rule, we never collect personal data via cookies, unless you have given us your express permission to do so. <br><br>
      
      
      <h3>How to manage your cookie settings?</h3><br><br>
      If you do not want us to recognize your terminal device, please configure your Internet browser to erase all cookies from your device, to block all cookies or to receive a warning before a cookie is stored. 
      Please note that certain functions of our website may no longer work, or not work correctly, without cookies. <br><br><br><br>
      
      
      
      <h2>COPYRIGHT </h2><br><br>
      <h3>It’s all about respect</h3> <br><br>
      On this website you will find information, images, photographs, designs, trademarks, products, patterns, models, advertising etc., which are the exclusive property of or given in license to Mathieu Elisa NV.
      These materials are protected by intellectual property rights, unless otherwise noted. 
      All marks and logos displayed on this website are exclusive property of Mathieu Elisa NV, unless otherwise noted. <br><br>
      
      Reproduction (except for private, personal and non-commercial use), distribution, publicationn transmission, modification, in whole or in part, sale and any other use of the above-mentioned material without referring to Vincent Sheppard is forbidden. 
      No right, title or other claims of ownership or license may be deemed assigned to you as a result of downloading and/or copying these materials. <br>
    </div>

  <div>
    <button class="buttonScroll">UP</button>
  </div>
  
</div>  
<script src="mention.js"></script>
  </body>
</html>
