/* ALL MY FONT */

@font-face {
  font-family: "Dolce Vita";
  src: url("/polices/Dolce Vita.ttf");
  font-weight: normal;
  font-style: normal;
}

/* about page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  width: 100%;
  font-family: "Questrial", sans-serif;
  scroll-behavior: smooth;
}

/* HEADER */

.logo {
  height: 20px;
  margin: 15px 0 0px 35px;
}

#navbar {
  width: 100%;
  height: min-content;
}

#navbar ul {
  display: flex;
  height: 45px;
  margin-top: 20px;
}

.navbar-items {
  text-decoration: none;
  color: whitesmoke;
}

ul li {
  list-style: none;
  font-size: 1.5em;
  margin-left: 35px;
  margin-top: 20px;
}

.borderLine {
  border-bottom: 2px solid white;
}

.mainBloc-about {
  height: 100vh;
  font-size: 10px;
  background-image: url("/images/main-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.picture-bloc {
  height: 100vh;
  background-image: url("/images/second-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.final-picture-bloc {
  height: 100vh;
  font-size: 10px;
  background-image: url("/images/third-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.guillemet-1 {
  height: 38%;
  width: 72%;
  opacity: 0.2;
}

.guillemet-2 {
  height: 40%;
  width: 40%;
  opacity: 0.2;
}

#title-citation {
  color: whitesmoke;
  font-size: 1.2vw;
  letter-spacing: 1px;
}

#citation {
  width: 300px;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin: 0px 90px 0 387px;
}

.text {
  margin: 55px;
  font-size: 1.1em;
}

.text h2 {
  font-family: "Dolce Vita";
}

.text p {
  margin-top: 25px;
}

.text-bloc {
  height: 606px;
  display: flex;
  width: 100%;
  color: whitesmoke;
  background-color: #232323;
}

.text-bloc2 {
  margin: 80px 40px 80px 40px;
  width: 55%;
}

.container-card {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #232323;
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.profil-card {
  margin: 0 auto;
  margin-top: 10px;
  height: 170px;
  width: 170px;
  overflow: hidden;
}

.container-profil {
  margin-top: 10px;
  width: 200px;
  background-color: #232323;
}

.myPics {
  height: 136%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.title-card {
  font-family: "Dolce Vita";
  text-align: center;
  margin-top: 15px;
}

.text-card {
  background-color: #232323;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  line-height: 27px;
}

/* RESPONSIVE */

@media screen and (max-width: 1135px) {
  /* .text-bloc {
    height: min-content;
  } */

  .text-bloc {
    flex-direction: column;
    height: min-content;
  }

  .container-card {
    margin: 0 auto;
    width: 60%;
  }

  .text-bloc2 {
    text-align: center;
    width: 100%;
  }
}
