/* ALL MY FONT */

@font-face {
  font-family: "Dolce Vita";
  src: url("/polices/Dolce Vita.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  width: 100%;
  font-family: "Questrial", sans-serif;
}

.title-font {
  font-family: "Dolce Vita", sans-serif;
}

/* HEADER */

.logo {
  height: 20px;
  margin: 15px 0 0px 35px;
}

#navbar ul {
  display: flex;
  height: 45px;
  margin-top: 20px;
}

#navbar {
  position: absolute;
  font-size: 10px;
  z-index: 1;
}

.navbar-items {
  text-decoration: none;
  color: whitesmoke;
}

ul li {
  list-style: none;
  font-size: 1.5em;
  margin-left: 35px;
  margin-top: 20px;
}

/* FIRST CONTAINER */

.first-container {
  width: 100%;
  height: 490px;
  display: flex;
}

.firstBloc {
  margin: 0 auto;
  width: 60%;
  height: 490px;
  font-size: 10px;
  flex-grow: 1;
}

.card {
  height: 100%;
  width: 100%;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.secondBloc {
  width: 50%;
  margin: 0 auto;
  padding: 90px;
}

.text-secondBloc {
  margin-top: 30px;
  color: #495057;
  line-height: 20px;
  font-size: 1.1em;
}

.title-secondBloc {
  font-size: 40px;
}

.borderLine {
  border-bottom: 2px solid white;
}

#shopnow {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
}

.shop {
  margin-top: 20px;
  margin-right: 10px;
}

#shopnow:hover {
  color: grey;
}

#green-title {
  color: #206f36;
}

/* ARROW */

#placement {
  display: flex;
}

#arrowDiv {
  padding-top: 20px;
  width: 100px;
}

.arrow2 {
  margin-left: 15px;
  animation: slidein 0.7s infinite alternate;
}

@keyframes slidein {
  from {
    transform: translate(0px);
  }

  to {
    transform: translate(30px);
  }
}

/* SECOND AND THIRD CONTAINER */

.second-container {
  display: flex;
  width: 100%;
  height: 230px;
}

.third-container {
  display: flex;
  width: 100%;
  height: 230px;
  flex-direction: row-reverse;
}

.carre1 {
  background-image: url("/images/image-about-dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 230px;
}

.carre2 {
  width: 70%;
  height: 230px;
  padding: 60px 90px;
}

.carre3 {
  background-image: url("/images/image-about-light.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 230px;
}

.title-carre2 {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.text-carre2 {
  font-size: 1em;
  color: #495057;
  line-height: 20px;
}

/* FOURTH CONTAINER */

.fourth-container {
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inspiration {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inspiration h3 {
  font-size: 16vw;
  text-align: center;
  color: #495057;
  opacity: 0.2;
}

.image-inspiration img {
  border-radius: 5px;
  width: 50%;
  margin: 50px;
}

.image-inspiration {
  display: flex;
}

.text-inspiration {
  width: 50%;
  margin: 50px;
}

.title-inspiration {
  color: #f2a0a0;
  font-size: 40px;
  margin-bottom: 10px;
}

.paragraph-inspiration {
  margin-bottom: 40px;
  margin-right: 80px;
}

.button-inspiration {
  text-align: center;
  margin-top: 50px;
}

.button-collection {
  font-family: "Dolce Vita", sans-serif;
  cursor: pointer;
  letter-spacing: 5px;
  height: 55px;
  width: 235px;
  border-radius: 6px;
  border: 2px solid white;
  background-color: whitesmoke;
  color: #495057;
}

.button-collection:hover {
  height: 55px;
  width: 235px;
  border-radius: 6px;
  color: #495057;
  background-color: #efefef;
}

.slick-list draggable {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.cookiesAndMentions a {
  text-decoration: none;
}

/* COOKIES CONTAINER */

.cookiesAndMentions {
  font-size: 0.7em;
  text-align: center;
  height: 50px;
  margin: 15px auto;
}

/* SCROLL BUTTON */

.buttonScroll {
  font-size: 15px;
  background-color: whitesmoke;
  border: none;
  border-radius: 50%;
  color: #aaaaaa;
  cursor: pointer;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.buttonScroll:hover {
  font-size: 17px;
  color: black;
}

.showBtn {
  opacity: 1;
  pointer-events: all;
}

/* RESPONSIVE HOME PAGE */

/*max: 1000px */

@media screen and (max-width: 1040px) {
  .first-container {
    flex-direction: column;
    height: min-content;
  }

  .second-container,
  .third-container {
    height: min-content;
  }

  .firstBloc,
  .secondBloc,
  .carre1,
  .carre3 {
    width: 100%;
  }

  .carre2 {
    width: 100%;
    padding: 40px;
  }

  .slider-text1,
  .slider-text2,
  .slider-text3 {
    width: 25%;
  }
}

/* max 900px */

@media screen and (max-width: 945px) {
  .second-container,
  .third-container,
  .image-inspiration {
    flex-direction: column;
  }

  .carre1,
  .carre3 {
    width: 60%;
    margin: 0 auto;
  }

  .text-carre2,
  .title-carre2 {
    text-align: center;
  }

  .image-inspiration,
  .text-inspiration {
    width: 100%;
  }

  .image-inspiration img {
    margin: 0 auto;
  }

  .text-inspiration,
  .paragraph-inspiration {
    margin: 0;
    text-align: center;
  }

  .paragraph-inspiration {
    margin: 40px;
  }

  .text-inspiration {
    margin-top: 30px;
  }
}

.loader {
  position: fixed;
  z-index: 99;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader h1 {
  color: #495057;
  letter-spacing: 4px;
}

.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

.title-loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
