* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  width: 100%;
  font-family: "Questrial", sans-serif;
}
/* HEADER */

.logo {
  height: 20px;
  margin: 15px 0 0px 35px;
}

#navbar {
  width: 100%;
  height: min-content;
}

#navbar ul {
  display: flex;
  height: 45px;
  margin-top: 20px;
}

.navbar-items {
  text-decoration: none;
  color: whitesmoke;
}

ul li {
  list-style: none;
  font-size: 1.5em;
  margin-left: 35px;
  margin-top: 20px;
}

.mainBloc-mentions {
  height: 240px;
  font-size: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-bloc {
  width: 100%;
  height: 200px;
}

#main-title {
  width: 100%;
  height: 50px;
  margin: 70px auto;
  text-align: center;
  font-size: 3em;
}

.cookiesAndMentions {
  font-size: 0.7em;
  text-align: center;
  width: 100vh;
  height: 50px;
  margin: 15px auto;
}

.main-text {
  height: 3500px;
  width: 700px;
  margin: 0 auto;
}

.buttonScroll {
  font-size: 15px;
  background-color: lightgray;
  border: none;
  border-radius: 50%;
  color: whitesmoke;
  cursor: pointer;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.buttonScroll:hover {
  font-size: 19px;
  color: whitesmoke;
}

.showBtn {
  opacity: 1;
  pointer-events: all;
}
