* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  width: 100%;
  font-family: "Questrial", sans-serif;
}
/* HEADER */

.logo {
  height: 20px;
  margin: 15px 0 0px 35px;
}

#navbar {
  width: 100%;
  height: min-content;
}

#navbar ul {
  display: flex;
  height: 45px;
  margin-top: 20px;
}

.navbar-items {
  text-decoration: none;
  color: whitesmoke;
}

ul li {
  list-style: none;
  font-size: 1.5em;
  margin-left: 35px;
  margin-top: 20px;
}

/* FIRST CONTAINER */

.first-container {
  width: 100%;
  height: 490px;
  display: flex;
}

.firstBloc {
  margin: 0 auto;
  width: 60%;
  height: 490px;
  font-size: 10px;
  flex-grow: 1;
  background-image: url("/images/desktop-image-hero-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.secondBloc {
  width: 50%;
  margin: 0 auto;
  padding: 90px;
  background-color: whitesmoke;
}

.text-secondBloc {
  margin-top: 30px;
  color: lightgrey;
  line-height: 20px;
}

.title-secondBloc {
  font-size: 40px;
}

.borderLine {
  border-bottom: 2px solid white;
}

#shopnow {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
}

.shop {
  margin-top: 20px;
  margin-right: 10px;
}

#shopnow:hover {
  color: grey;
}

#green-title {
  color: #206f36;
}

/* SECOND CONTAINER */

.second-container {
  display: flex;
  width: 100%;
  height: 230px;
}

.third-container {
  display: flex;
  width: 100%;
  height: 230px;
  flex-direction: row-reverse;
}

.carre1 {
  background-image: url("/images/image-about-dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 230px;
}

.carre2 {
  background-color: whitesmoke;
  width: 70%;
  height: 230px;
  padding: 60px 40px;
}

.carre3 {
  background-image: url("/images/image-about-light.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 230px;
}

.title-carre2 {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.text-carre2 {
  font-size: 12px;
  color: lightgray;
  line-height: 20px;
}

/* ARROW */

#placement {
  display: flex;
}

#arrowDiv {
  padding-top: 20px;
  width: 100px;
}

.arrow2 {
  margin-left: 15px;
  animation: slidein 0.7s infinite alternate;
}

@keyframes slidein {
  from {
    transform: translate(0px);
  }

  to {
    transform: translate(30px);
  }
}

/* RESPONSIVE HOME PAGE : max 1000px */

@media screen and (max-width: 1000px) {
  .first-container {
    flex-direction: column;
    height: min-content;
  }

  .second-container {
    height: min-content;
  }

  .third-container {
    height: min-content;
  }

  .firstBloc {
    width: 100%;
  }

  .secondBloc {
    width: 100%;
  }

  .carre1 {
    width: 90%;
  }

  .carre2 {
    width: 100%;
    padding: 40px;
  }

  .carre3 {
    position: relative;
    width: 65%;
  }

  .slider-text1 {
    width: 25%;
  }

  .slider-text2 {
    width: 25%;
  }

  .slider-text3 {
    width: 25%;
  }
}

/* RESPONSIVE HOME PAGE : max 790px */

@media screen and (max-width: 790px) {
  .second-container {
    flex-direction: column;
  }

  .carre1 {
    width: 60%;
    margin: 0 auto;
  }

  .carre3 {
    width: 60%;
    margin: 0 auto;
  }

  .third-container {
    flex-direction: column;
  }

  .text-carre2 {
    text-align: center;
  }

  .title-carre2 {
    text-align: center;
  }
}
