<div id="navbar">
  <ul>
    <a href="/room/home"> <img class="logo" src="/images/logo.svg" alt="logo"/> </a>
    <li><a id="home" class="navbar-items" href="/room/home">home</a></li>
    <li><a id="home" class="navbar-items" href="/room/shop">shop</a></li>
    <li><a id="about" class="navbar-items" href="/room/about">about</a></li>
    <li><a id="contacts" class="navbar-items" href="/room/contact">contact</a></li>
  </ul>
</div>
