<%- include ("partials/header") %>

<%- include("partials/navbar") -%>



<body>

    <div class="shop__container"> 
        <!-- <img class="notfound__picture" src="/images/shop.jpg" alt="pictures shop"> -->
    </div>

</body>
</html>